@model ProjectTaskViewModel

@{
    var formattedDate = Html
        .FormatValue(Model.Date, FormatConstants
            .ShortDateFormat.AppendFormat());
}

<div class="col">
    <input-group :input-is-read-only="true"
                 :input-value="@formattedDate"
                 :input-type="text"
                 :input-hidden-visible="false">
    </input-group>
</div>
<div class="col">
    <input-group :input-is-read-only="true"
                 :input-value="@Model.TaskReference"
                 :input-type="text"
                 :input-hidden-visible="false">
    </input-group>
</div>>
<div class="col">
    <input-group :input-is-read-only="true"
                 :input-value="@Model.ProjectName"
                 :input-type="text"
                 :input-hidden-visible="true"
                 :input-hidden-value="@Model.ProjectId"
                 :input-hidden-name="@Html.NameFor(model => model.ProjectId)">
    </input-group>
</div>
<div class="col">
    <input-group :input-is-read-only="false"
                 :input-value="@Model.TaskDescription"
                 :input-type="text"
                 :input-hidden-visible="true"
                 :input-hidden-value="@Model.TaskId"
                 :input-hidden-name="@Html.NameFor(model => model.TaskId)">
    </input-group>
</div>
<div class="col">
    <input-group :input-is-read-only="false"
                 :input-value="@Model.Status"
                 :input-type="text"
                 :input-hidden-visible="true"
                 :input-hidden-value="@Model.StatusId"
                 :input-hidden-name="@Html.NameFor(model => model.StatusId)">
    </input-group>
</div>
<div class="col">
    <input type="text" 
           value="@Model.Comments" />
</div>